
<div class="container">
  <div class="row">
  <div class="periodic-table justify-content-center">
    <% @elements["order"].each do |element| %>
      
      <div class="card <%= @elements[element]["category"] %>" style="grid-area: <%= @elements[element]["ypos"]%>/<%= @elements[element]["xpos"]%>" >

        <div class="content">
          <h4><b><%= @elements[element]["number"] %></b></h4>
          <h2><b><%= @elements[element]["symbol"] %></b></h2>
          <small><%= @elements[element]["name"] %></small>
          <small><%= @elements[element]["atomic_mass"] %></small>
        </div>

        <div class="shells">
        <% for  @shell in @elements[element]["shells"] %>
        <small><%= @shell %></small>
        <% end  %>
        </div>

      </div>
    <% end %>
    <div class="empty card " style="grid-area: 6/3 "><b>57-71</b></div>
    <div class="empty card " style="grid-area: 7/3 "><b>89-103</b></div>
    </div>
  </div>
</div>



